# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# Environment variables & secrets
.env
*.env

# Database files
*.sqlite3
*.db
migrations/

# Logs & debugging
*.log
logs/

# Pytest cache
.pytest_cache/

# VSCode settings (optional)
.vscode/

# MacOS-specific files
.DS_Store

# create user  
create_user.py
uploads/
reports/